<div class="row text-center">
  <div class="col-xs-12">
    <h1>Welcome to Yapr</h1>
    <p>The easiest way to reach your audience fast.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-md-4">
    <h2>Step 1</h2>
    <p>
      Col Description
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Step 2</h2>
    <p>
      Col Description
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <h2>Step 3</h2>
    <p>
      Col Description
    </p>
  </div>
</div>

<div class="row text-center">
  <a href="/#!/info" class="btn btn-default">Get Started</a>
</div>
