<!-- Title Section -->
<div class="row">
  <div class="col-xs-12">
    <h1>Upload your lead data</h1>
    <p>Upload data for the leads you'd like to reach. Select the fields needed by your Obvi sales representative. Phone numbers are required.</p>
  </div>
</div>

<div class="row">

  <!-- Main control section -->
  <div class="col-xs-12 col-md-8">
    <h2>Form upload section</h2>
  </div>
  <!-- Reciept preview section -->
  <div class="col-xs-12 col-md-4">
    <ob-receipt-preview></ob-receipt-preview>
  </div>

</div>
