<!-- Title Section -->
<div class="row">
  <div class="col-xs-12">
    <h1>Upload your lead data</h1>
    <p>Upload data for the leads you'd like to reach. Select the fields needed by your Obvi sales representative. Phone numbers are required.</p>
  </div>
</div>

<div class="row">

  <!-- Main control section -->
  <div class="col-xs-12 col-md-8" ng-controller="leadUploadController as uploadCtrl">
    <h2>Form upload section</h2>
    <form>
      <div class="form-group">
        <label for="file">Upload your CSV</label>
        <br>Leads CSV:
        <input type="file" ngf-select ng-model="csvFile" name="test" accept=".csv" required ngf-model-invalid="errorFile" enctype="multipart/form-data">
        <i ng-show="myForm.file.$error.required">*required</i><br>
        <button ng-click="csvFile = null" ng-show="csvFile">Remove</button>
        <br>
        <button ng-disabled="!csvFile" ng-click="uploadCsv(csvFile)">Submit</button>
        <span class="progress" ng-show="csvFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
            ng-bind="picFile.progress + '%'"></div>
      </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

        <p class="help-block">Please use a CSV file for your leads</p>
      </div>

      <div class="checkbox">
        <label>
            <input type="checkbox"> My data has headers
          </label>
      </div>
    </form>
    <!-- Form logic doesn't go anywhere, doesn't send data ANYWHERE yet. -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Header C1</th>
          <th>Header C2</th>
          <th>Header C3</th>
          <th>Header C4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R2C1</td>
          <td>R2C2</td>
          <td>R2C3</td>
          <td>R2C4</td>
        </tr>
        <tr>
          <td>R3C1</td>
          <td>R3C2</td>
          <td>R3C3</td>
          <td>R3C4</td>
        </tr>
        <tr>
          <td>R4C1</td>
          <td>R4C2</td>
          <td>R4C3</td>
          <td>R4C4</td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- Reciept preview section -->
  <div class="col-xs-12 col-md-4">
    <ob-receipt-preview></ob-receipt-preview>
  </div>

</div>
